html {
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.btn-outline-primary {
  border-color: blue;
  color: blue;
}

.btn-outline-primary:hover {
  background-color: blue;
  border-color: blue;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  border-color: rgb(115, 115, 255);
  background-color: rgb(115, 115, 255);
}

