html {
  font-family: roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-width: 800px;
  min-height: 670px;
}

/* Primary styles */

.clickable {
  cursor: pointer;
}

.primary-outline {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  transition: 0.5s;
}

.primary-outline:hover {
  border-color: blue;
  transition: 0.5s;
}

.button-like {
  height: 38px;
  padding: 8px;
  text-align: center;
}

.leftside-wide {
  width: calc(100% - 35.59px);
}

/* Fancy Hoverables */

.blue-hover, .red-hover {
  transition: 0.3s;
}

.blue-hover:hover {
  color: blue;
}

.red-hover:hover {
  color: red;
}

/* Overriding Bootstrap Button */

.btn-outline-primary {
  border-color: blue;
  color: blue;
}

.btn-outline-primary:hover {
  background-color: blue;
  border-color: blue;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  border-color: rgb(115, 115, 255);
  background-color: rgb(115, 115, 255);
}

