.frame-container {
  margin-top: 43px;
  height: calc(100% - 38px - 5px);
}

.file-display {
  margin-bottom: 5px;
  width: 100%;
}

.textframe {
  padding: 5px;
  height: calc(100% - 43px);
  overflow: auto;
}