.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

a:hover {
  text-decoration: none;
  color: blue;
  transition: 0.3s;
}