.title-container {
  display: inline-block;
  width: 280px;
  margin: 0;
  padding: 5px;
}

.left-title, .right-title {
  display: inline-block;
  transition: 1s;
}

.left-title {
  color: red;
  margin-left: -12px;
}

.right-title {
  padding-left: 2px;
}

.title-container:hover .left-title {
  font-size: 0.8em;
  transform: translateY(-5px);
}

.title-container:hover .right-title {
  padding-left: 0px;
  transform: translateY(3px);
}

.title-container:hover svg>g {
  animation: ease-in-out wiggle 0.5s;
  animation-delay: 0.3s;
  transform-origin: 50%;
}

@keyframes wiggle {
  0%   { transform: rotate(0deg); }
  30%  { transform: rotate(8deg); }
  60%  { transform: rotate(-8deg); }
  100% { transform: rotate(0deg); }
}

.logo-container {
  display: inline-block;
  position: relative;
  width: 40px;
}

.logo-container > svg {
  position: absolute;
  top: -25px;
  width: 35px;
  height: 35px;
  margin: 0;
}