#topcenter {
  padding: 5px;
}

.btn-description {
  margin: 0;
}

.btn-description span {
  font-style: italic;
  transition: 0.5s;
}

.btn-description:hover span {
  color: red;
}

.constrain {
  display: inline-block;
}

.modal {
  position: absolute;
  top: 30%;
}