.dimmer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
}

.uploadcard {
  position: relative;
  z-index: 2;
  height: 200px;
  width: 400px;
  margin: auto;
  margin-top: calc(50vh - 100px);
  border: 1px solid blue;
  border-radius: 5px;
  background: white;
  padding: 10px;
}

.btn.upload {
  position: absolute;
  bottom: 10px;
  left: 105px;
}

.btn.cancel {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.file-list {
  display: block;
  text-decoration: none;
  color: black;
}

.file-list a {
  display: inline-block;
  max-width: 380px;
}

.tooltip > .tooltip-inner {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1000px;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before {
  border-bottom-color:rgba(0, 0, 0, 0.6);
}